<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.EmployeeMapper">


    <select id="selectAll" resultType="org.example.entity.Employee">
        select  * from user
        <where>
               <if test="name != null">name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

    <select id="selectMapFav" resultType="org.example.entity.Employee">
        select  * from user
        <where>
            <if test="favorite != null">favorite like concat(#{favorite})</if>
        </where>
        order by id desc
    </select>

    <insert id="insert" parameterType="org.example.entity.Employee">
        insert into `user` (name, telephone, email, social, address, favorite)
        values (#{name}, #{telephone}, #{email},  #{social}, #{address}, #{favorite})
    </insert>

    <update id="updateById" parameterType="org.example.entity.Employee">
        update `user` set name = #{name}, telephone = #{telephone}, email = #{email},
                          social = #{social}, address = #{address}, favorite = #{favorite}
        where id = #{id}
    </update>


</mapper>